{% extends 'billing/base.html' %}
{% block content %}

<div class="card">
    <h2>Add Item</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Item</button>
    </form>
</div>

<div class="card" style="margin-top:20px;">
    <h2>Item List</h2>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Action</th>
        </tr>
        {% for i in items %}
        <tr>
            <td>{{ i.name }}</td>
            <td>
                <a href="{% url 'update_item' i.id %}" class="btn-sm text-white btn-edit">Edit</a>
                <a href="{% url 'delete_item' i.id %}" class="btn-sm text-white btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
